
<h1 class="display-4" style="color: aliceblue">Available Bookings</h1>
<style>
 
    body {
        background: linear-gradient(to bottom, #3ad60a, #0bb9b1);
        height: 100vh;
        margin: 0;
    }

</style>

<p>Use this page to detail your site's privacy policy.</p>
