
<h1 class="display-4" style="color: aliceblue">Available Events</h1>

<style>
    body {
        background: linear-gradient(to bottom, #db0448, #0004fd);
        height: 100vh;
        margin: 0;
    }
</style>

<p>Use this page to detail your site's privacy policy.</p>
