
<h1 class="display-4" style="color: aliceblue">Available Venues</h1>

<style>
    body {
        background: linear-gradient(to bottom, #6a11cb, #2575fc);
        height: 100vh;
        margin: 0;
    }
</style>

<style>
    .image-container img {
        display: inline-block;
        width: 200px; /* Adjust as needed */
        margin-right: 20px; /* Space between images */
    }
</style>

<style>
    .text-container img {
        display: inline-block;
        width: 200px; /* Adjust as needed */
        margin-right: 80px; /* Space between images */
    }
</style>

<div class="image-container">
    <img src="~/images/MellowTides.jpg" alt="Image 1">
    <img src="~/images/MistyHollow.jpg" alt="Image 2">
    <img src="~/images/WillowGrove.jpg" alt="Image 3">
</div>










